<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
   </head>
   <body>
      <h1>Arithmetic Microservices</h1>
      <div id="form-div">
         <form id="form" action="" method="POST">
            <label for="first_number"> Enter the First number </label>
            <br>
            <input id="first_number" name="first">
            <br>
            <label for="second_number"> Enter the Second number </label>
            <br>
            <input id="second_number" name="second">
            <br>
            <label for="op"> Enter Operation </label>
            <br>
            <select id="op" name="operation">
               {% for choice in choices %}
               <option value="{{ choice }}">{{ choices[choice].operation }}</option>
               {% endfor %}
            </select>
            <br><br>
            <input id="submit_button" type="submit" name="submit_button">
         </form>
         <div id="flash-div">
            {% for message in get_flashed_messages() %}
               {{ message }}
            {% endfor %}
         </div>
      </div>
   </body>
</html>
